:root {
    --gold: #dfa90a;
    --blue: #19255c;
    --ltblue: #2e76c9dc;
    --grey: #3a3e42;
    --footer: #113c68b9;
    --answer: #27313b7c;
    --offwhite: rgb(132, 186, 202);
    --clear: #27313b00;
}
  
  .h1text {
    color: var(--gold);
    text-align: center;
    margin: 0;
    width: 100%;
    position: absolute;
    font-size: 50px;
  }
  header {
    background-color: var(--blue);
    width: 100%;
    padding-top: 50px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    background-image: url("../img/space1.jpg");
    background-size: cover;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }
  
  .menu {
    position: relative;
  }
  
  .dropdownBtn {
    padding: 10px 60px;
    background-color: var(--offwhite);
    border:var(--grey);
    border-radius: 5%;
    cursor: pointer;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    top: 75%;
    right: 25%;
    background-color: var(--ltblue);
    min-width: 250%;
    padding: 30px;
    z-index: 1;
    border-radius: 5%;
  }
  
  .dropdownContent a {
    display: block;
    text-align: center;
    font-size: 35px;
    padding: 5px;
    color: var(--gold);
  }
  
  .dropdownBtn:hover,
  .dropdownContent a:hover {
    background-color: var(--grey);
  }
  
  .dropdownBtn:focus + .dropdownContent,
  .dropdownContent:hover {
    display: block;
  }
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: var(--gold);
    background-color: var(--footer);
    text-align: center;
    width: 95%;
    padding-bottom: 10px;
    font-size: 80%;
    background-image: url("../img/space.jpg");
    background-size: cover;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 20px;
  }
  
  footer h2 {
    margin-bottom: px;
  }
  
  .container {
    text-align: center;
    margin-top: 100px;
  }
  
  .question {
    text-align: center;
  }

  .crypto-name {
    background-color: var(--grey);
    font-size: 30px;
    margin-top: 25px;
    padding: 10px;
  }

  .crypto-market-data {
    padding: 10px;
    font-size: 20px;
    background-color: var(--grey);
  }
  
  .crypto-graph {
    background-color: var(--grey);
  }

  .moon {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--grey);
    background-image: url("../img/moon.jpg");
    background-size: cover;
    animation: shake 0.6s infinite linear;
    animation-play-state: paused;
    margin-top: 10%;
  }
  
  .res  {
    background-color: var(--offwhite);
  }
  
  .shakeButton {
        background-color: var(--clear);
        border: var(--clear);
        cursor: pointer;
   }
 button {
    padding: 15px 40px;
    margin-bottom: 10px;
    font-size: 24px;
    border-radius: 5%;
    background-color: var(--ltblue);
    color: #fff;
    border: none;
    cursor: pointer;
  } 

  h3 {
    color: white;
    margin: 80px 0px -5px 0px;
  }

  h4 {
    color: white;
  }
  html {
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
  }